includeConfig '../../nextflow.config'

profiles {
  docker {
    docker {
      enabled = true
      fixOwnership = true
      temp = 'auto'
      mountFlags = 'cached'
    }
    process {
      container = 'fwip/stampipes:latest'
      withName: 'hotspot2' {
        container = 'fwip/hotspot2:latest'
      }
    }
  }

  modules {
    process {
      withName: 'merge' {
          module = 'samtools/1.3'
      }
      withName: 'dups' {
        module = 'jdk/1.8.0_92:picard/2.8.1:samtools/1.3'
      }
      withName: 'filter' {
        module = 'samtools/1.3:python/3.5.1:pysam/0.9.0'
      }
      withName: 'filter_nuclear' {
       module = 'jdk/1.8.0_92:picard/2.8.1:samtools/1.3'
      }
      withName: 'macs2_human' {
       module = 'python/2.7.11:numpy/1.11.0:MACS/2.1.2'
      }
      withName: 'macs2_mouse' {
       module = 'python/2.7.11:numpy/1.11.0:MACS/2.1.2'
      }
      withName: 'spot_score' {
        module = 'samtools/1.3:python/2.7.11:python/3.5.1:pysam/0.9.0:bedops/2.4.35-typical:bedtools/2.25.0:R/3.2.5:gsl/2.4'
      }
      withName: 'bam_counts' {
        module = 'python/3.5.1:pysam/0.9.0'
      }
      withName: 'preseq' {
        module = 'python/3.5.1:pysam/0.9.0'
      }
      withName: 'signal_compare' {
        module = 'python/2.7.11:numpy/1.11.0:MACS/2.1.2:bedtools/2.25.0:bedops/2.4.35-typical:samtools/1.3:modwt/1.0:kentutil/302:'
      }
      withName: 'insert_sizes' {
        module = 'python/3.5.1:numpy/1.11.0:atlas-lapack/3.10.2:scipy/1.0.0:scikit-learn/0.18.1:jdk/1.8.0_92:picard/2.8.1:samtools/1.3:R/3.2.5'
      }
    }
  }


  test {
    params {
      genome = "$baseDir/../../../test_data/ref/chr22.fa"
      bams = "$baseDir/../../../test_data/dnase/aggregation/in_*.bam"
      outdir = "$baseDir/../../../test_data/dnase/aggregation/output"
      mappable = "$baseDir/../../../data/hotspot2/chr22.K36.mappable_only.bed"
      chrom_sizes = "$baseDir/../../../data/hotspot2/chr22.chrom_sizes.bed"
      centers = "$baseDir/../../../data/hotspot2/chr22.K36.center_sites.n100.starch"
      chrom_bucket = "$baseDir/../../../data/densities/chrom-buckets.chr22.75_20.bed.starch"
      domotifs = true
      dofeatures = true
    }
    report {
      enabled = true
    }
    trace {
      enabled = true
    }
    timeline {
      enabled = true
    }
    dag {
      enabled = true
        file = "dag.html"
    }
   }
 }  
  
