includeConfig "../../../nextflow.config"

profiles {
  modules {}
  test {
    params {
      id = "test"
      starIndexDir = "/net/seq/data/genomes/human/GRCh38/noalts/STARgenome-gencode-v25/"
      genomebams = [
        "../alignment/expected/Aligned.sortedByCoord.out.bam",
      ]
      transcriptomebams = [
        "../alignment/expected/Aligned.toTranscriptome.out.bam",
      ]
      fastaref = "/net/seq/data/genomes/human/GRCh38/noalts-sequins/STARgenome-gencode-v25/all.genome.fa.gz"

      umi = ""
      annotation = "/net/seq/data/genomes/human/GRCh38/noalts-sequins/ref/combined.annotation.gtf"
      sequinsisomix = "/net/seq/data/genomes/sequins_v1/Sequin_isoform_mix.csv"
      starrefdir = "/net/seq/data/genomes/human/GRCh38/noalts-sequins/STARgenome-gencode-v25"
      sequinsref = "/net/seq/data/genomes/sequins_v1/Sequin_annotations.gtf"
      kallistoindex = "/net/seq/data/genomes/human/GRCh38/noalts-sequins/ref/kallisto_gencode25_sequins"
      neatmixa = "/net/seq/data/genomes/sequins_v1/isoform_matrix_kallisto_neat_ourrep.txt"
      flatref = "/net/seq/data/genomes/human/GRCh38/noalts-sequins/ref/refFlat.txt"
      outdir = "test-cufflinks-agg"
    } 
  }
}
