profiles {
  standard {
    process.executor = 'local'
  }

  cluster {
    process.executor = 'slurm'
    process.queue = 'queue0'
    process.memory = '8GB'

    process.scratch = true
  }

  singularity {
    singularity.enabled = true
  }
}

report {
  enabled = true
}
trace {
  enabled = true
}
timeline {
  enabled = true
}
dag {
  enabled = true
    file = "dag.html"
}

env {
  STAMPIPES = "/home/nelsonjs/code/stampipes"
  STAMPIPES_DATA = "/home/solexa/stampipes_data"
}
