profiles {
  standard {
    process.executor = 'local'
  }

  cluster {
    process {
      executor = 'slurm'
      queue = 'queue0'
      errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
      //errorStrategy 'retry'
      maxRetries = 3
      memory = { 8.GB * task.attempt }

      scratch = true

      withLabel: 'low_mem' {
        memory = { 1.GB * task.attempt }
      }
      withLabel: 'high_mem' {
        memory = { 32.GB * task.attempt }
      }
    }
  }

  debug {
    process.scratch = false
  }

  singularity {
    singularity.enabled = true
  }

  docker {
    process.container = "fwip/stampipes:latest"
    docker {
      enabled = true
      fixOwnership = true
      temp = 'auto'
      mountFlags = 'cached'
    }
  }
}

report {
  enabled = true
}
trace {
  enabled = true
}
timeline {
  enabled = true
}
dag {
  enabled = true
  file = "dag.html"
}
