profiles {
  standard {
    process.executor = 'local'
  }

  cluster {
    process.executor = 'slurm'
    process.queue = 'queue0'
    process.memory = '8GB'

    process.scratch = true
  }

  singularity {
    singularity.enabled = true
  }

  docker {
    docker.enabled = true
    docker.container = "fwip/stampipes:latest"
  }
}

report {
  enabled = true
}
trace {
  enabled = true
}
timeline {
  enabled = true
}
dag {
  enabled = true
  file = "dag.html"
}
