asn1crypto==0.24.0
cryptography==2.1.4
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
numpy==1.14.5
pycrypto==2.6.1
pygobject==3.26.1
pysam==0.14.1
pyxdg==0.25
scikit-learn==0.19.1
scipy==1.1.0
SecretStorage==2.3.1
six==1.11.0
sklearn==0.0
