includeConfig "../../nextflow.config"

profiles {
  modules {}

  test {
    params {
      r1 = "${workflow.projectDir}/../../test_data/rna/alignment/r1.fastq.gz"
      r2 = "${workflow.projectDir}/../../test_data/rna/alignment/r2.fastq.gz"
      starIndexDir = "/net/seq/data/genomes/human/GRCh38/noalts/STARgenome-gencode-v25/"
    }
  }
}
