# This an example configuration. If you want to create a new configuration,
# copy this, then update all of the values on the right hand side.
[browser]
server=hostname
browser_url=http://example.com
flowcell_link_folder=/path/to/link_folder/
track_basedir=/path/to/make/dir/
browser_excludes_file=/path/to/excludes/files/
browser_group=browser_group_name
file_label=file_label_name
