profiles {
  test {
    docker {
      enabled = true
      fixOwnership = true
      temp = 'auto'
      mountFlags = 'cached'
    }
    process.container = 'fwip/stampipes:latest'
    params {
      genome = "$baseDir/../../../test_data/ref/chr22.fa"
      bams = "$baseDir/../../../test_data/dnase/aggregation/in_*.bam"
      outdir = "$baseDir/../../../test_data/dnase/aggregation/output"
      mappable = "$baseDir/../../../data/hotspot2/chr22.K36.mappable_only.bed"
      chrom_sizes = "$baseDir/../../../data/hotspot2/chr22.chrom_sizes.bed"
      centers = "$baseDir/../../../data/hotspot2/chr22.K36.center_sites.n100.starch"
      chrom_bucket = "$baseDir/../../../data/densities/chrom-buckets.chr22.75_20.bed.starch"
    }
    report {
      enabled = true
    }
    trace {
      enabled = true
    }
    timeline {
      enabled = true
    }
    dag {
      enabled = true
      file = "dag.html"
    }
  }
}
