includeConfig "../../nextflow.config"

profiles {
  test {
    docker {
      enabled = true
      fixOwnership = true
      temp = 'auto'
      mountFlags = 'cached'
    }
    process.container = 'stampipes:latest'
    params {
      genome = "$baseDir/../../test_data/ref/chr22.fa"
      r1 = "$baseDir/../../test_data/dnase/alignment/r1.fastq.gz"
      r2 = "$baseDir/../../test_data/dnase/alignment/r2.fastq.gz"
      adapter_file = "$baseDir/../../test_data/dnase/alignment/adapters.txt"
      output = "$baseDir/../../test_data/dnase/alignment/output"
      chunk_size = 50000
    }
    report {
      enabled = true
    }
    trace {
      enabled = true
    }
    timeline {
      enabled = true
    }
    dag {
      enabled = true
      file = "dag.html"
    }
  }
}
