includeConfig "../../nextflow.config"

profiles {
  docker {
    docker {
      enabled = true
      fixOwnership = true
      temp = 'auto'
      mountFlags = 'cached'
    }
    process.container = 'stampipes:latest'
  }

  modules {
    process {
      withName: align {
        module = 'bwa/0.7.12:samtools/1.3'
      }
      withName: filter_bam {
        module = 'samtools/1.3:python/3.5.1:pysam/0.9.0'
      }
      withName: 'sort_bam' { module = 'samtools/1.3' }
      withName: 'merge_bam' { module = 'samtools/1.3' }
      withName: 'filter_bam_to_unique' { module = 'samtools/1.3' }
      withName: mark_duplicates {
        module = 'jdk/1.8.0_92:picard/2.8.1:samtools/1.3'
      }
      withName: bam_counts {
        module = 'python/3.5.1:pysam/0.9.0'
      }
      withName: insert_size {
        module = 'jdk/1.8.0_92:picard/2.8.1:samtools/1.3:R/3.2.5'
      }
      withName: spot_score {
        module = 'samtools/1.3:python/2.7.11:python/3.5.1:pysam/0.9.0:bedops/2.4.35-typical:bedtools/2.25.0:R/3.2.5'
      }
      withName: density_files {
        module = 'bedops/2.4.35-typical:samtools/1.3:htslib/1.6.0:kentutil/302'
      }
    }
  }

  test {
    params {
      genome = "$baseDir/../../test_data/ref/chr22.fa"
      r1 = "$baseDir/../../test_data/dnase/alignment/r1.fastq.gz"
      r2 = "$baseDir/../../test_data/dnase/alignment/r2.fastq.gz"
      adapter_file = "$baseDir/../../test_data/dnase/alignment/adapters.txt"
      output = "$baseDir/../../test_data/dnase/alignment/output"
      chunk_size = 50000
    }
    report {
      enabled = true
    }
    trace {
      enabled = true
    }
    timeline {
      enabled = true
    }
    dag {
      enabled = true
      file = "dag.html"
    }
  }
}
